.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    
}

nav li {
    list-style: none;
}

